.headingWraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.searchTitle {
  margin-right: 5px;
}

.searchInput {
  width: 45%;
}
.searchWrapper {
  padding-top: 10px;
}
.loaderWrapper {
  text-align: center;
}
